{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}
					
			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


	{% comment %} Login {% endcomment %}

		<main id="template-customer-login-liquid" class="clearfix" role="main">

			{% comment %} Breadcrumb {% endcomment %}

				<nav>
					<div class="container bm-medium">
						<div class="one-whole">
							{% include 'breadcrumb' %}
						</div>
					</div>
				</nav>


			{% comment %} Login / Recover {% endcomment %}

				<div class="container bm-medium">
					<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
						<div class="one-half-percent desktop-tablet omega bm-remove">
							<p>
								If you don't have an account, you can <a href="/account/register" target="_self">create on here</a>.<br />
								<a href="#" target="_self" id="recover-show">Forgot your password?</a>
								<a href="#" target="_self" id="recover-hide" class="no-display">Cancel?</a>
							</p>
						</div>

						<div class="one-half-percent desktop-tablet alpha bm-remove last">

							{% comment %} Login {% endcomment %}

								<div id="customer-login-form">
									{% form 'customer_login' %}
										<script>
											$(document).ready(function() {
												$('#customer_login').attr('novalidate', '');
											});
										</script>

										{% if form.errors %}
											<div id="form-error-login" class="no-display">
												{{ form.errors | default_errors }}
											</div>

											<script>
												if (window.location.hash != '#recover') {
													var error_message = $('#form-error-login li:first').html();

													$('body').edgeAlerts({
														title: 'Login Error',
														message: error_message
													});
												}
											</script>
										{% endif %}

										<input type="email" name="customer[email]" id="login-email" class="w-full" placeholder="Email Address" value="{{ form.email }}" />

										{% if form.password_needed %}
											<input type="text" class="w-full fake-password" placeholder="Password" />
											<input type="password" name="customer[password]" id="login-password" class="w-full true-password no-display" />
										{% endif %}

										<div class="text-right">
											<button type="submit" class="inline-block bm-remove">Log In</button>

											{% if shop.checkout.guest_login %}
												{% form 'guest_login' %}
													<button type="submit" class="inline-block">Continue as Guest</button>
												{% endform %}
											{% endif %}
										</div>
									{% endform %}
								</div>


							{% comment %} Recover {% endcomment %}

								<div id="customer-recover-form" class="no-display">
									{% form 'recover_customer_password' %}
										<script>
											$(document).ready(function() {
												$('#customer-recover-password-form form').attr('novalidate', '');
											});
										</script>

										{% if form.errors %}
											<div id="form-error-recover">
												{{ form.errors | default_errors }}
											</div>

											<script>
												if (window.location.hash == '#recover') {
													var error_message = $('#form-error li:first').html();

													$('body').edgeAlerts({
														title: 'Recovery Error',
														message: error_message
													});
												}
											</script>
										{% endif %}

										{{ form.errors | default_errors }}

										<input type="email" name="email" id="recover-email" class="w-full" placeholder="Email Address" value="{{ form.email }}" />

										<div class="text-right">
											<button type="submit" class="bm-remove">Recover</button>
										</div>
									{% endform %}
								</div>

						</div>
					</div>
				</div>

		</main>