{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}

<!DOCTYPE html>

<!-- Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com -->

<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->

<head data-placeholder-focus="false" data-placeholder-live="false">

	{% comment %} Page Title {% endcomment %}

		<title>{% include 'page-title' %}</title>


	{% comment %} Meta Data, Facebook OpenGraph and Twitter Card {% endcomment %}

		{% include 'meta-tags' %}
		{% include 'facebook-opengraph' %}
		{% include 'twitter-card' %}


	{% comment %} Fav Icon, Apple Icons and RSS/XML {% endcomment %}

		<link href="{{ 'fav-icon.png'		| asset_url }}" rel="icon" />
		<link href="{{ 'apple-icon-60.png'	| asset_url }}" rel="apple-touch-icon" />
		<link href="{{ 'apple-icon-76.png'	| asset_url }}" rel="apple-touch-icon" sizes="76x76" />
		<link href="{{ 'apple-icon-120.png'	| asset_url }}" rel="apple-touch-icon" sizes="120x120" />
		<link href="{{ 'apple-icon-152.png'	| asset_url }}" rel="apple-touch-icon" sizes="152x152" />

		<link href="/blogs/news.atom" rel="alternate" type="application/rss+xml" title="{{ shop.name | strip_html | escape }} | Blog" />
		<link href="/sitemap.xml" rel="sitemap" type="application/xml" title="Sitemap" />

		<link href="{{ canonical_url }}" rel="canonical" />


	{% comment %} Stylesheets {% endcomment %}

		{{ 'http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css'	|	stylesheet_tag }}

		{% capture google_font_href %}{% if settings.body_font_web_safe == '' %}{{ settings.body_font_google | replace: ' ', '+' }}:{{ settings.body_font_weight }}|{% endif %}{% if settings.special_header_font_web_safe == '' %}{{ settings.special_header_font_google | replace: ' ', '+' }}:{{ settings.special_header_font_weight }}|{% endif %}{% if settings.h1_font_web_safe == '' %}{{ settings.h1_font_google | replace: ' ', '+' }}:{{ settings.h1_font_weight }}|{% endif %}{% if settings.h2_font_web_safe == '' %}{{ settings.h2_font_google | replace: ' ', '+' }}:{{ settings.h2_font_weight }}|{% endif %}{% if settings.h3_font_web_safe == '' %}{{ settings.h3_font_google | replace: ' ', '+' }}:{{ settings.h3_font_weight }}|{% endif %}{% if settings.h4_font_web_safe == '' %}{{ settings.h4_font_google | replace: ' ', '+' }}:{{ settings.h4_font_weight }}|{% endif %}{% if settings.h5_font_web_safe == '' %}{{ settings.h5_font_google | replace: ' ', '+' }}:{{ settings.h5_font_weight }}|{% endif %}{% if settings.h6_font_web_safe == '' %}{{ settings.h6_font_google | replace: ' ', '+' }}:{{ settings.h6_font_weight }}|{% endif %}{% if settings.input_font_web_safe == '' %}{{ settings.input_font_google | replace: ' ', '+' }}:{{ settings.input_font_weight }}|{% endif %}{% if settings.button_font_web_safe == '' %}{{ settings.button_font_google | replace: ' ', '+' }}:{{ settings.button_font_weight }}|{% endif %}{% if settings.logo_font_web_safe == '' %}{{ settings.logo_font_google | replace: ' ', '+' }}:{{ settings.logo_font_weight }}{% endif %}{% endcapture %}
		<link href="http://fonts.googleapis.com/css?family={{ google_font_href }}" rel="stylesheet" type="text/css" media="all" />

		{{ 'normalize.min.css'			|	asset_url	|	stylesheet_tag }}
		{{ 'edge-alerts.css'			|	asset_url	|	stylesheet_tag }}
		{{ 'tipsy.css'					|	asset_url	|	stylesheet_tag }}
		{{ 'pop-growl.css'				|	asset_url	|	stylesheet_tag }}
		{% if settings.use_animations %}
			{{ 'animations.min.css'		|	asset_url	|	stylesheet_tag }}
		{% endif %}
		{{ 'pro-bars.min.css'			|	asset_url	|	stylesheet_tag }}
		{{ 'responsive-tabs.css'		|	asset_url	|	stylesheet_tag }}
		{{ 'responsive-accordion.css'	|	asset_url	|	stylesheet_tag }}
		{{ 'responsive-toggle.css'		|	asset_url	|	stylesheet_tag }}
		{{ 'owl-carousel.css' 			|	asset_url	|	stylesheet_tag }}
		{{ 'litebox.css' 				|	asset_url	|	stylesheet_tag }}
		{% if settings.use_quick_look %}
			{{ 'shopify-quick-look.css' |	asset_url	|	stylesheet_tag }}
		{% endif %}
		{{ 'backbone.scss.css' 			|	asset_url	|	stylesheet_tag }}
		

	{% comment %} JavaScript Files {% endcomment %}

		{{ 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'		|	script_tag }}
		{{ 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js'	|	script_tag }}

		<script>window.jQuery || document.write('<script src="{{ 'cdn-fallback-jquery.min.js' | asset_url }}"><\/script>');</script>
		<script>window.jQuery.ui || document.write('<script src="{{ 'cdn-fallback-jquery-ui.min.js' | asset_url }}"><\/script>');</script>
		
		{{ 'option_selection.js'	|	shopify_asset_url	|	script_tag }}
		{{ 'api.jquery.js'			|	shopify_asset_url	|	script_tag }}

		{% if template contains 'customers' %}
			{{ 'shopify_common.js'	|	shopify_asset_url	|	script_tag }}
			{{ 'customer_area.js'	|	shopify_asset_url	|	script_tag }}

			<!--[if lt IE 8]>
				{{ 'json2.js'		|	shopify_asset_url	|	script_tag }}
			<![endif]-->
		{% endif %}

		<!--[if lt IE 9]>
			{{ 'http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'	|	script_tag }}
			{{ 'http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'	|	script_tag }}

			<script>window.html5 || document.write('<script src="{{ 'cdn-fallback-html5-shiv.min.js' | asset_url }}"><\/script>');</script>
			<script>window.respond || document.write('<script src="{{ 'cdn-fallback-respond.min.js' | asset_url }}"><\/script>');</script>
		<![endif]-->

		{% if settings.use_smoothscroll %}
			{{ 'smoothscroll.min.js'		|	asset_url	|	script_tag }}
		{% endif %}
		{{ 'placeholders.min.js'			|	asset_url	|	script_tag }}
		{{ 'images-loaded.min.js'			|	asset_url	|	script_tag }}
		{{ 'edge-alerts.min.js'				|	asset_url	|	script_tag }}
		{{ 'fitvids.min.js'					|	asset_url	|	script_tag }}
		{{ 'tipsy.min.js'					|	asset_url	|	script_tag }}
		{{ 'pop-growl.min.js'				|	asset_url	|	script_tag }}
		{{ 'appear.min.js'					|	asset_url	|	script_tag }}
		{% if settings.use_animations %}
			{{ 'animations.min.js'			|	asset_url	|	script_tag }}
		{% endif %}
		{{ 'pro-bars.min.js'				|	asset_url	|	script_tag }}
		{{ 'responsive-tabs.min.js'			|	asset_url	|	script_tag }}
		{{ 'responsive-accordion.min.js'	|	asset_url	|	script_tag }}
		{{ 'responsive-toggle.min.js'		|	asset_url	|	script_tag }}
		{% if settings.use_product_hover_zoom %}
			{{ 'elevate-zoom.min.js'		|	asset_url	|	script_tag }}
		{% endif %}
		{{ 'owl-carousel.min.js'			|	asset_url	|	script_tag }}
		{{ 'litebox.min.js'					|	asset_url	|	script_tag }}
		{% if settings.use_quick_look %}
			{{ 'shopify-quick-look.min.js'	|	asset_url	|	script_tag }}
		{% endif %}
		{{ 'backbone.js'					|	asset_url	|	script_tag }}
		

	{% comment %} AJAX API {% endcomment %}

		<script>
			if ((typeof Shopify) === 'undefined')
				var Shopify = {};

			Shopify.onItemAdded = function(line_item) {
				var line_item_url;

				if (line_item.image)
					line_item_image = '<a href="' + line_item.url + '" target="_self" class="line-item-image"><img src="' + line_item.image  + '" /></a>';

				$('body').popGrowl({
					id: 'cart-notifications',
					html: '<div class="cart-notification-added clearfix">' + line_item_image + '<div class="cart-details"><p><strong><a href="' + line_item.url + '" target="_self">' + line_item.title + '</a></strong></p><p>This item has been added to your cart</p><div class="text-right"></div></div></div><a href="/cart" target="_self" class="button bm-remove tm-small w-full h-small">VIEW CART</a>'
				});

				Shopify.getCart();
			};

			Shopify.onCartUpdate = function(cart) {
				$('#ajax-header-cart-item-count, #ajax-breadcrumb-cart-item-count').html(cart.item_count);
				$('#ajax-header-cart-total-price, #ajax-breadcrumb-cart-total-price, #ajax-subtotal-cart-total-price').html(Shopify.formatMoney(cart.total_price, '{{ shop.money_format }}'));

				if (cart.item_count == 1)
					$('#ajax-header-cart-item-text, #ajax-breadcrumb-cart-item-text').html('Item');
				else
					$('#ajax-header-cart-item-text, #ajax-breadcrumb-cart-item-text').html('Items');
			};

			Shopify.onProduct = function(product) {
				// Image
					if (product.featured_image === null) {
						$('.shopify-quick-look-overlay .quick-look-image').html("<a href='" + product.url + "' target='_self'><img src='{{ 'no-image.png' | asset_url }}' class='block no-image' /></a>");
					} else {
						var imageData = '';

						for (var x = 0, l = product.images.length; x < l; x++) {
							imageData += '<div class="item"><a href="' + product.url + '" target="_self" class="quick-look-featured-image text-center block"><img src="' + product.images[x] + '" class="block" /></a></div>';
						}

						$('.shopify-quick-look-overlay .quick-look-image').html('<div id="quick-look-images-carousel-container" class="clearfix"><div id="quick-look-images-carousel" class="owl-carousel owl-theme">' + imageData + '</div><div class="prev tip-t-fade" data-tooltip="Previous"></div><div class="next tip-t-fade" data-tooltip="Next"></div></div>');

						var $quickLookImages = $('#quick-look-images-carousel');

						$quickLookImages.owlCarousel({
							slideSpeed: 500,
							paginationSpeed: 500,
							singleItem: true,
							autoPlay: true,
							stopOnHover: true
						});

						$('#quick-look-images-carousel-container .prev').on('click', function() {
							$quickLookImages.trigger('owl.prev');
						});

						$('#quick-look-images-carousel-container .next').on('click', function() {
							$quickLookImages.trigger('owl.next');
						});
					}

				// General
					if (product.description.length > 500)
						var description = $.trim(product.description).substring(0, 300).split(' ').slice(0, -1).join(' ') + '...';
					else
						var description = product.description;

					$('.shopify-quick-look-overlay .quick-look-title').html('<a href="' + product.url + '" target="_self">' + product.title + '</a>');
					$('.shopify-quick-look-overlay .quick-look-description').html(description);
					$('.shopify-quick-look-overlay .quick-look-price').html('<small>From </small>' + Shopify.formatMoney(product.price_min, '{{ shop.money_format }}'));

					if (product.available) {
						// Show availbility
							$('.shopify-quick-look-overlay .quick-look-available').show();
							$('.shopify-quick-look-overlay .quick-look-not-available').hide();
							
							initQtySteps();

						// Variables
							var	$variantSelect = $('<select>', { 'name': 'id', 'id': 'quick-look-variants', 'class': 'w-full' }),
								$variantOption = '';

						// Loop variants
							for (var x = 0; x < product.variants.length; x++) {
								if (product.variants[x].available)
									if (product.variants[x].compare_at_price > product.variants[x].price)
										$variantOption += '<option value="' + product.variants[x].id + '">' + product.variants[x].title + ' - ' + Shopify.formatMoney(product.variants[x].price, '{{ shop.money_format }}') + ' (was ' + Shopify.formatMoney(product.variants[x].compare_at_price, '{{ shop.money_format }}') + ') </option>';
									else
										$variantOption += '<option value="' + product.variants[x].id + '">' + product.variants[x].title + ' - ' + Shopify.formatMoney(product.variants[x].price, '{{ shop.money_format }}') + '</option>';
							}

						// Display variant options
							if (product.variants.length === 1)
								$('.quick-look-variants').hide();
							else
								$('.quick-look-variants').show();

							$variantSelect.append($variantOption);

							$('.shopify-quick-look-overlay .quick-look-option-variant').append($variantSelect);
					} else {
						// Hide availability
							$('.shopify-quick-look-overlay .quick-look-available').hide();
							$('.shopify-quick-look-overlay .quick-look-not-available').show();
					}
			};

			Shopify.onError = function(XMLHttpRequest, textStatus) {
				var data = eval('(' + XMLHttpRequest.responseText + ')');

				$('body').edgeAlerts({
					title: 'Error',
					message: data.description
				});
			};

			$(document).ready(function() {
				{% if settings.use_quick_look %}
					$('.quick-look').shopifyQuickLook({
						callbackAfterOpen: function() {
							$('.shopify-quick-look-overlay .quick-look-add-to-cart').on('click', function() {
								var	product_id = $('#quick-look-variants option:selected').val(),
									product_qty = $('#quick-look-quantity').val();
								
								Shopify.addItem(product_id, product_qty);

								$('.shopify-quick-look-container')
									.animate({ 'top': '-200px' }, 400)
									.fadeOut({ queue: false, duration: 400 });

									$('body').removeClass('no-scroll')

									$('.shopify-quick-look-overlay').fadeOut(400, function() {
										$('.shopify-quick-look-container').empty().remove();
										$('.shopify-quick-look-overlay').empty().remove();
									});
							});
						}
					});
				{% endif %}

				$('.product-add-to-cart').on('click', function(e) {
					e.preventDefault();

					var	product_id = $('#product-select option:selected').val(),
						product_qty = $('#quantity').val();

						console.log(product_id);
						console.log(product_qty);
					
					Shopify.addItem(product_id, product_qty);
				});

				$('.cart-update-item').on('click', function(e) {
					e.preventDefault();

					var	itemID = $(this).attr('data-item-id'),
						itemName = $(this).attr('data-item-name'),
						itemQuantity = parseInt($('#' + $(this).attr('data-item-quantity')).val()),
						itemPrice = parseInt($(this).attr('data-item-price')),
						itemStock = parseInt($(this).attr('data-item-stock')),
						itemBackorder = $(this).attr('data-item-backorder');

					if (itemQuantity < 1) {
						$('#cart-remove-item-' + itemID).trigger('click');
					} else {
						if (itemQuantity > itemStock) {
							if (itemBackorder == 'continue') {
								Shopify.changeItem(itemID, itemQuantity);

								$('#ajax-cart-item-line-price-' + itemID).html(Shopify.formatMoney(itemPrice * itemQuantity, '{{ shop.money_format }}'));

								$('body').edgeAlerts({
									title: itemName,
									message: 'There are now ' + itemQuantity + ' of these items in your cart but only ' + itemStock  + ' in stock.<br /><br />' + (itemQuantity - itemStock) + ' of these will be back-ordered for you.'
								});
							} else {
								$('#quantity-' + itemID).val(itemStock);

								Shopify.changeItem(itemID, itemStock);

								$('#ajax-cart-item-line-price-' + itemID).html(Shopify.formatMoney(itemPrice * itemStock, '{{ shop.money_format }}'));

								$('body').edgeAlerts({
									title: itemName,
									message: 'There are only ' + itemStock  + ' of these items available.<br /><br />We have placed all ' + itemStock  + ' of these in your cart.'
								});
							}
						} else {
							Shopify.changeItem(itemID, itemQuantity);

							$('#ajax-cart-item-line-price-' + itemID).html(Shopify.formatMoney(itemPrice * itemQuantity, '{{ shop.money_format }}'));

							$('body').edgeAlerts({
								title: itemName,
								message: 'There are now ' + itemQuantity + ' of these items in your cart.'
							});
						}
					}
				});

				$('.cart-remove-item').on('click', function(e) {
					e.preventDefault();

					var	itemID = $(this).attr('data-item-id'),
						itemName = $(this).attr('data-item-name');

					$('body').edgeAlerts({
						type: 'confirm',
						title: itemName,
						message: 'Are you sure you wish to remove this item?',
						cancelText: 'No',
						continueText: 'Yes',
						callbackConfirm: function() {
							Shopify.removeItem(itemID);

							$('#cart-item-' + itemID).remove();
								
							setTimeout(function() {
								if ($('.cart-item').size() < 1)
									window.location.replace('/');
							}, 5);
						}
					});
				});
			});
		</script>


	{% comment %} Shopify Content {% endcomment %}

		{{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" itemscope itemtype="http://schema.org/WebPage">

	{% comment %} Facebook API {% endcomment %}

		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>


	{% comment %} No Javascript {% endcomment %}

		{% include 'no-script' %}


	{% comment %} Page {% endcomment %}

		<div class="page-border clearfix">

			{% comment %} Header {% endcomment %}

				{% include 'header' %}


			{% comment %} Content {% endcomment %}

				{{ content_for_layout }}


			{% comment %} Footer {% endcomment %}

				{% include 'footer' %}

		</div>


	{% comment %} Add To Wishlist {% endcomment %}

		{% if shop.customer_accounts_enabled and customer and settings.use_wishlist %}
			{% if page_title != 'Wishlist' %}
				<script type="text/javascript">
					$(document).ready(function() {
						if (getQueryVariable('customer_posted') == 'true') {
							$('body').edgeAlerts({
								type: 'confirm',
								title: 'Item Added',
								message: 'This item has been added to your wishlist.',
								cancelText: 'Ok',
								continueText: 'View Your Wishlist',
								callbackConfirm: function() {
									window.location.replace('/pages/wishlist');
								}
							});
						}
					});
				</script>
			{% elsif page_title == 'Wishlist' %}
				<script type="text/javascript">
					$(document).ready(function() {
						if (getQueryVariable('customer_posted') == 'true') {
							$('body').edgeAlerts({
								title: 'Item Removed',
								message: 'This item has been removed from your wishlist.'
							});
						}
					});
				</script>
			{% endif %}
		{% endif %}


	{% comment %} Quick Look {% endcomment %}

		{% if settings.use_quick_look %}
			{% include 'shopify-quick-look' %}
		{% endif %}

</body>

</html>