{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animations {% endcomment %}

			{% include 'animations' with 'collection-loop' %}


		{% comment %} Odd/Even {% endcomment %}

			{% capture collection_loop_odd_even %}{% cycle 'odd', 'even' %}{% endcapture %}


		{% comment %} First/Last Loop {% endcomment %}

			{% capture collection_loop_first_last %}{% if forloop.first %}loop-first{% endif %}{% if forloop.last %}loop-last{% endif %}{% endcapture %}
				

	{% comment %} Loop {% endcomment %}

		<div class="{{ collection_loop_grid_span }} collection-item boxed p-ten text-center {{ collection_loop_odd_even }} {{ collection_loop_first_last }} {{ collection_loop_grid_span_last }} {{ collection_loop_animate }} clearfix" data-anim-type="{{ collection_loop_animation_type }}" data-anim-delay="{{ collection_loop_animation_delay }}">
			<div class="image-and-overlay-container bm-small">
				<div class="image">
					<a href="{{ collection.url }}" target="_self">
						{% if collection.image %}
							<img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.title | escape }}" class="block" />
						{% else %}
							<img src="{{ collection.products.first.featured_image.src | product_img_url: 'master' }}" alt="{{ collection.title | escape }}" class="block" />
						{% endif %}
					</a>
				</div>

				<a href="{{ collection.url }}" target="_self" class="overlay"></a>
			</div>

			<p class="bm-remove no-text-overflow">
				<a href="{{ collection.url }}" target="_self"><strong>{{ collection.title }}</strong></a>
			</p>

			<p class="bm-remove no-text-overflow">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'item', 'items' }}</p>
		</div>


	{% comment %} Clearing {% endcomment %}

		{{ collection_loop_clear_div }}