{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}
					
			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


		{% comment %} Pagination {% endcomment %}

			{% comment %} General {% endcomment %}

				{% assign pagination = false %}

				{% paginate customer.addresses by 50 %}
					{% if paginate.pages > 1 %}
						{% assign pagination = true %}
					{% endif %}
				{% endpaginate %}


			{% comment %} Top {% endcomment %}

				{% assign top_pagination = false %}

				{% if settings.pagination_display == 'top' or settings.pagination_display == 'top-bottom' %}
					{% assign top_pagination = true %}
				{% endif %}


			{% comment %} Bottom {% endcomment %}

				{% assign bottom_pagination = false %}

				{% if settings.pagination_display == 'bottom' or settings.pagination_display == 'top-bottom' %}
					{% assign bottom_pagination = true %}
				{% endif %}


	{% comment %} Addresses {% endcomment %}
			
		{% paginate customer.addresses by 50 %}

			<main id="template-customer-addresses-liquid" class="clearfix" role="main">

				{% comment %} Breadcrumb {% endcomment %}

					<nav>
						<div class="container bm-medium">
							<div class="one-whole">
								{% include 'breadcrumb' %}
							</div>
						</div>
					</nav>


				{% comment %} Top Pagination {% endcomment %}

					{% if pagination and top_pagination %}
						<nav>
							<div class="container">
								<div class="one-whole">
									{% include 'pagination' %}
								</div>
							</div>
						</nav>
					{% endif %}


				{% comment %} Addresses {% endcomment %}

					<div class="container{% unless pagination and bottom_pagination %} bm-medium{% endunless %}">

						{% comment %} Loop {% endcomment %}

							{% for address in customer.addresses %}

								{% comment %} Grid {% endcomment %}

									{% capture address_loop_grid_span_last %}{% cycle 'address_loop_grid_span_last': '', ' last' %}{% endcapture %}


								{% comment %} Odd/Even {% endcomment %}

									{% capture address_loop_odd_even %}{% cycle ' odd', ' even' %}{% endcapture %}


								{% comment %} First/Last Loop {% endcomment %}

									{% capture address_loop_first_last %}{% if forloop.first %} loop-first{% endif %}{% if forloop.last %} loop-last{% endif %}{% endcapture %}


								{% comment %} Clearing {% endcomment %}

									{% capture address_loop_clear_div %}{% cycle 'address_loop_clear_div': '', '<div class="clear"></div>' %}{% endcapture %}


								{% comment %} Address {% endcomment %}

									<div class="one-half boxed {{ settings.grid_boxed_padding }}{{ address_loop_odd_even }}{{ address_loop_first_last }}{{ address_loop_grid_span_last }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">

										{% comment %} Address {% endcomment %}

											<div id="view-address-{{ address.id }}">
												<p class="bm-small">
													<strong>
														{% if address.company %}{{ address.company }} <small>&nbsp;&bull;&nbsp;</small> {% endif %}
														{{ address.first_name }} {{ address.last_name }}
														{% if address == customer.default_address %} <small>&nbsp;&bull;&nbsp;</small> Default{% endif %}
													</strong>
												</p>

												<span class="font-small">
													<p class="bm-remove">
														{% if address.street %}{{ address.street }},{% endif %}
														{% if address.city %}{{ address.city }},{% endif %}
														{% if address.country %}{{ address.country }},{% endif %}
														{% if address.province_code %}{{ address.province_code }},{% endif %}
														{% if address.zip %}{{ address.zip }},{% endif %}
														{% if address.phone %}{{ address.phone }}{% endif %}
													</p>
												</span>

												<div class="text-right">
													<button type="button" class="bm-remove tm-medium inline-block edit-address" data-address-id="{{ address.id }}">Edit</button>
													<button type="button" class="bm-remove tm-medium inline-block delete-address" data-address-id="{{ address.id }}">Delete</button>
												</div>
											</div>


										{% comment %} Edit Form {% endcomment %}

											<div id="edit-address-{{ address.id }}" class="no-display tm-medium">
												<hr />

												{% form 'customer_address', address %}
													<input type="text" name="address[company]" id="address-company-{{ form.id }}" class="w-full" placeholder="Company" value="{{ form.company }}" />
													<input type="text" name="address[first_name]" id="address-first-name-{{ form.id }}" class="w-full" placeholder="First Name" value="{{ form.first_name }}" />
													<input type="text" name="address[last_name]" id="address-last-name-{{ form.id }}" class="w-full" placeholder="Last Name" value="{{ form.last_name }}" />
													<input type="text" name="address[address1]" id="address-address1-{{ form.id }}" class="w-full" placeholder="Address 1" value="{{ form.address1 }}" />
													<input type="text" name="address[address2]" id="address-address2-{{ form.id }}" class="w-full" placeholder="Address 2" value="{{ form.address2 }}" />
													<input type="text" name="address[city]" id="address-city-{{ form.id }}" class="w-full" placeholder="City" value="{{ form.city }}" />
													<select name="address[country]" id="address-country-{{ form.id }}" class="w-full" data-default="{{ form.country }}">{{ country_option_tags }}</select>
													<div id="address-province-container-{{form.id}}" style="display: none;">
														<select name="address[province]" id="address-province-{{form.id}}" class="w-full" data-default="{{ form.province }}"></select>
													</div>
													<input type="text" name="address[zip]" id="address-zip-{{ form.id }}" class="w-full" placeholder="Zip / Postal Code" value="{{ form.zip }}" />
													<input type="tel" name="address[phone]" id="address-phone-{{ form.id }}" class="w-full" placeholder="Phone Number" value="{{ form.phone }}" />

													<div class="text-right">
														<p class="bm-remove">{{ form.set_as_default_checkbox }} <label for="address_default_address_{{ form.id }}" class="bm-remove">Set As Default</label></p>

														<button type="button" class="bm-remove tm-medium inline-block edit-address" data-address-id="{{ address.id }}">Cancel</button>
														<button type="submit" class="bm-remove tm-medium inline-block">Update</button>
													</div>
												{% endform %}
											</div>

									</div>


								{% comment %} Clearing {% endcomment %}

									{{ address_loop_clear_div }}

							{% endfor %}


						{% comment %} Add Address {% endcomment %}

							<div class="one-half boxed {{ settings.grid_boxed_padding }} last {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
								<button type="button" class="w-full add-address bm-remove">Add New Address</button>

								<div id="add-address" class="no-display tm-medium">
									<hr />

									{% form 'customer_address', customer.new_address %}
										<div class="customer_address_table">
											<input type="text" name="address[company]" id="add-address-company" class="w-full" value="{{ form.company }}" placeholder="Company" />
											<input type="text" name="address[first_name]" id="add-address-first-name" class="w-full" value="{{ form.first_name }}" placeholder="First Name" />
											<input type="text" name="address[last_name]" id="add-address-last-name" class="w-full" value="{{ form.last_name }}" placeholder="Last Name" />
											<input type="text" name="address[address1]" id="add-address-address1" class="w-full" value="{{ form.address1 }}" placeholder="Address 1" />
											<input type="text" name="address[address2]" id="add-address-address2" class="w-full" value="{{ form.address2 }}" placeholder="Address 2" />
											<input type="text" name="address[city]" id="add-address-city" class="w-full" value="{{ form.city }}" placeholder="City" />
											<select name="address[country]" id="add-address-country" class="w-full" data-default="{{ form.country }}">{{ country_option_tags }}</select>
											<div id="add-address-province-container" style="display: none">
												<select name="address[province]" id="add-address-province" class="w-full" data-default="{{ form.province }}"></select>
											</div>
											<input type="text" name="address[zip]" id="add-address-zip" class="w-full" value="{{ form.zip }}" placeholder="Zip / Postal Code" />
											<input type="tel" name="address[phone]" id="add-address-phone" class="w-full" value="{{ form.phone }}" placeholder="Phone Number" />

											<div class="text-right">
												<p class="bm-remove">{{ form.set_as_default_checkbox }} <label for="address_default_address_new" class="bm-remove">Set As Default</label></p>

												<button type="button" class="bm-remove tm-medium inline-block add-address">Cancel</button>
												<button type="submit" class="bm-remove tm-medium inline-block">Add</button>
											</div>
										</div>
									{% endform %}
								</div>
							</div>

					</div>


				{% comment %} Bottom Pagination {% endcomment %}

					{% if pagination and bottom_pagination %}
						<nav>
							<div class="container bm-medium">
								<div class="one-whole">
									{% include 'pagination' with 'details' %}
								</div>
							</div>
						</nav>
					{% endif %}

			</main>

		{% endpaginate %}


	{% comment %} Scripts {% endcomment %}

		<script type="text/javascript" charset="utf-8">
			new Shopify.CountryProvinceSelector('add-address-country', 'add-address-province', { hideElement: 'add-address-province-container' });  

			{% for address in customer.addresses %}
				new Shopify.CountryProvinceSelector('address-country-{{ address.id }}', 'address-province-{{ address.id }}', { hideElement: 'address-province-container-{{ address.id }}' });
			{% endfor %}
		</script>