{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}
					
			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


	{% comment %} Cart {% endcomment %}

		<main id="template-cart-liquid" class="clearfix" role="main">

			{% comment %} Breadcrumb {% endcomment %}

				<nav>
					<div class="container bm-medium">
						<div class="one-whole">
							{% include 'breadcrumb' %}
						</div>
					</div>
				</nav>


			{% comment %} Cart {% endcomment %}

				{% if cart.item_count > 0 %}

					{% comment %} Scroll {% endcomment %}

						<div class="clearfix">
							<div class="container">
								<div id="cart-scroll" class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
									<h3 class="bm-remove text-center"><a href="#" target="_self" class="block">Scroll To Checkout Options</a></h3>
								</div>
							</div>
						</div>


					{% comment %} Items, Shipping and Checkout {% endcomment %}

						<div class="clearfix">
							<div class="container bm-medium">
								<div id="cart" class="one-whole bm-remove {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">

									<form action="/cart" method="post" class="clearfix" novalidate>

										{% comment %} Items {% endcomment %}

											<div id="cart-items" class="two-third-percent omega text-center">
												{% for item in cart.items %}
													<div id="cart-item-{{ item.id }}" class="one-quarter cart-item boxed {{ settings.grid_boxed_padding }}">
														<a href="{{ item.product.url }}" target="_self" class="item-image-link block bm-small">
															<img src="{{ item.product.featured_image.src | product_img_url: 'master' }}" alt="{{ item.product.featured_image.alt | escape }}" class="block" />
														</a>

														<p class="cart-item-details bm-small">
															<a href="{{ item.product.url }}" target="_self">{{ item.product.title }}</a>
															{% if item.product.variants.size > 1 %}<br /><small>{{ item.variant.title }}</small>{% endif %}
														</p>

														{% if settings.show_quantity_inputs %}
															<p class="bm-smaller">Quantity</p>

															<div class="item-quantity">
																<div class="input-quantity-container clearfix">
																	<a href="#" target="_self" class="input-quantity-minus tip-t-fade" data-tooltip="Decrease"><i class="fa fa-minus fa-fw"></i></a>
																	<input type="text" name="updates[]" id="quantity-{{ item.id }}" class="w-full bm-remove input-quantity" data-qty-min="0" data-qty-step="1" data-qty-max="{{ item.variant.inventory_quantity }}" value="{{ item.quantity }}" />
																	<a href="#" target="_self" class="input-quantity-plus tip-t-fade" data-tooltip="Increase"><i class="fa fa-plus fa-fw"></i></a>
																</div>
															</div>
														{% endif %}

														<div class="one-half-percent cart-item-item-price">
															<p class="bm-smaller">Item Price</p>
															{{ item.price | money }}
														</div>

														<div class="one-half-percent cart-item-line-price last">
															<p class="bm-smaller">Line Price</p>
															<span id="ajax-cart-item-line-price-{{ item.id }}">{{ item.line_price | money }}</span>
														</div>

														<div class="cart-item-buttons">
															<div class="one-half-percent bm-remove omega">
																<button id="cart-update-item-{{ item.id }}" class="cart-update-item w-full h-small bm-remove" style="min-width: 0;" data-item-id="{{ item.id }}" data-item-name="{{ item.product.title }}{% if item.product.variants.size > 1 %} - {{ item.variant.title }}{% endif %}" data-item-quantity="quantity-{{ item.id }}" data-item-price="{{ item.price }}" data-item-stock="{{ item.variant.inventory_quantity }}" data-item-backorder="{{ item.variant.inventory_policy }}">Update</button>
															</div>
															<div class="one-half-percent bm-remove alpha">
																<button id="cart-remove-item-{{ item.id }}" class="cart-remove-item w-full h-small bm-remove" style="min-width: 0;" data-item-id="{{ item.id }}" data-item-name="{{ item.product.title }}{% if item.product.variants.size > 1 %} - {{ item.variant.title }}{% endif %}">Remove</button>
															</div>
														</div>
													</div>
												{% endfor %}
											</div>


										{% comment %} Shipping and Checkout {% endcomment %}

											<div class="one-third-percent alpha last">

												{% comment %} Shipping Calculator {% endcomment %}
												
													{% if settings.show_shipping_calculator %}
														{% include 'shipping-calculator' %}
													{% endif %}


												{% comment %} Checkout {% endcomment %}

													<div id="cart-checkout" class="one-whole boxed {{ settings.grid_boxed_padding }}">
														<h3 id="cart-checkout-title">Checkout</h3>

														<hr />

														{% if settings.show_cart_special_instructions %}
															<textarea name="note" id="cart-scroll-to" class="w-full" placeholder="Special instructions...">{{ cart.note }}</textarea>
														{% endif %}

														<div class="text-center clearfix">
															<h1 id="cart-checkout-subtotal-title" class="bm-large">Subtotal: <span id="ajax-subtotal-cart-total-price">{{ cart.total_price | money }}</span></h1>

															<button type="submit" name="checkout" id="cart-checkout-proceed" class="w-full h-large bm-remove">Proceed To Checkout</button>

															{% if additional_checkout_buttons %}
																<div id="cart-checkout-additional-buttons" class="tm-medium">
																	{{ content_for_additional_checkout_buttons }}
																</div>
															{% endif %}
														</div>
													</div>

											</div>
											
									</form>
								</div>
							</div>
						</div>

				{% else %}

					<div class="clearfix">
						<div class="container bm-medium">
							<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
								<p class="bm-larger tm-larger text-center">
									Your Cart Is Empty<br />
									<a href="/collections" target="_self">Click Here To Continue Browsing</a>
								</p>
							</div>
						</div>
					</div>

				{% endif %}


				{% comment %} Collection {% endcomment %}

					{% if settings.show_cart_collection %}
						<div class="clearfix">
							<div id="cart-collection" class="container bm-medium">
								{% if settings.cart_collection_title != blank %}
									<p class="special-header">{{ settings.cart_collection_title }}</p>
								{% endif %}

								{% if settings.cart_collection != blank %}
									{% for product in collections[settings.cart_collection].products limit:settings.cart_collection_return_amount %}
										{% include 'product-loop' with settings.cart_collection_x_per_row %}
									{% endfor %}
								{% else %}
									<div class="one-whole bm-larger boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
										<p class="bm-larger tm-larger text-center">No Collection Selected</p>
									</div>
								{% endif %}
							</div>
						</div>
					{% endif %}

		</main>