{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}

			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


		{% comment %} Top Pagination {% endcomment %}

			{% assign top_pagination = false %}

			{% if settings.pagination_display == 'top' or settings.pagination_display == 'top-bottom' %}
				{% assign top_pagination = true %}
			{% endif %}


		{% comment %} Number of Comments {% endcomment %}

			{% assign number_of_comments = article.comments_count %}

			{% if comment and comment.created_at %}
				{% assign number_of_comments = article.comments_count | plus: 1 %}
			{% endif %}


		{% comment %} Share Image {% endcomment %}

			{% if article.content contains "<img" %}
				{% assign src = article.content | split: 'src="' %}
				{% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}

				{% if src %}
					{% capture share_media_image %}{{ src }}{% endcapture %}
				{% else %}
					{% if settings.use_facebook_opengraph_image %}
						{% capture share_media_image %}{{ 'facebook-opengraph-image.png' | asset_url }}{% endcapture %}
					{% else %}
						{% if settings.use_logo %}
							{% capture share_media_image %}{{ 'logo.png' | asset_url }}{% endcapture %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				{% if settings.use_facebook_opengraph_image %}
					{% capture share_media_image %}{{ 'facebook-opengraph-image.png' | asset_url }}{% endcapture %}
				{% else %}
					{% if settings.use_logo %}
						{% capture share_media_image %}{{ 'logo.png' | asset_url }}{% endcapture %}
					{% endif %}
				{% endif %}
			{% endif %}


		{% comment %} Share Excerpt {% endcomment %}

			{% if article.excerpt.size > 0 %}
				{% capture share_excerpt %}{{ article.excerpt | strip_html }}{% endcapture %}
			{% else %}
				{% capture share_excerpt %}{{ article.content | strip_html | truncatewords:settings.article_truncate }}{% endcapture %}
			{% endif %}


		{% comment %} Bottom Pagination {% endcomment %}

			{% assign bottom_pagination = false %}

			{% if settings.pagination_display == 'bottom' or settings.pagination_display == 'top-bottom' %}
				{% assign bottom_pagination = true %}
			{% endif %}


	{% comment %} Article {% endcomment %}

		{% paginate article.comments by settings.comments_per_page %}

			<main id="template-article-liquid" class="clearfix" role="main" itemscope itemtype="http://schema.org/Article">

				{% comment %} Breadcrumb {% endcomment %}

					<nav>
						<div class="container bm-medium">
							<div class="one-whole">
								{% include 'breadcrumb' %}
							</div>
						</div>
					</nav>


				{% comment %} Article {% endcomment %}

					<article>
						<div class="clearfix">
							<div class="container bm-remove">
								<div id="article" class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">

									{% comment %} Content {% endcomment %}

										<h1 id="article-title" class="no-display"><a href="{{ article.url }}" target="_self"><span itemprop="name">{{ article.title }}</span></a></h1>
							
										<div class="article-body rte" itemprop="articleBody">{{ article.content }}</div>

										{% if settings.show_article_tags or settings.show_article_sharing_icons %}
											<hr class="bm-remove tm-medium" />
										{% endif %}


									{% comment %} Author / Tags {% endcomment %}

										<div class="one-half-percent tablet-mobile bm-remove tm-medium">
											<div id="article-author">
												By <a href="javascript:void();" target="_self" class="tip-t-fade" data-tooltip="<img src='http://www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=500' alt='Gravatar Image' class='block' style='width: 100px; height: 100px;' />">{{ article.user.first_name }} {{ article.user.last_name }}</a> on <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ article.published_at | date: '%b %d, %Y' }}</time>
											</div>

											{% if settings.show_article_tags and article.tags.size > 0 %}
												<div id="article-tags">
													<small>
														<i class="fa fa-tags fa-fw"></i> Tagged:
														{% for tag in article.tags %}
															<a href="{{ blog.url }}/tagged/{{ tag | handle }}" target="_self">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
														{% endfor %}
													</small>
												</div>
											{% endif %}
										</div>
							

									{% comment %} Share {% endcomment %}

										{% if settings.show_article_sharing_icons %}
											<div id="article-social-sharing" class="one-half-percent tablet-mobile bm-remove tm-medium last">
												{% if settings.show_article_sharing_facebook %}<span class="sharing-icon facebook tip-t-fade" data-tooltip="Share this on Facebook"><a href="http://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-facebook"></i></a></span>{% endif %}
												{% if settings.show_article_sharing_twitter %}<span class="sharing-icon twitter tip-t-fade" data-tooltip="Share this on Twitter"><a href="https://twitter.com/intent/tweet?text={{ shop.name | escape }}:%20{{ article.title }}%20-%20{{ shop.url }}{{ article.url }}{% if settings.twitter_card_site_handle.size > 0 %}%20@{{ settings.twitter_card_site_handle }}{% endif %}" target="_blank"><i class="fa fa-twitter"></i></a></span>{% endif %}
												{% if settings.show_article_sharing_google_plus %}<span class="sharing-icon google-plus tip-t-fade" data-tooltip="Share this on Google+"><a href="https://plus.google.com/share?url={{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-google-plus"></i></a></span>{% endif %}
												{% if settings.show_article_sharing_pinterest %}<span class="sharing-icon pinterest tip-t-fade" data-tooltip="Share this on Pinterest"><a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&amp;media={{ share_media_image }}&amp;description={{ share_excerpt }}" target="_blank"><i class="fa fa-pinterest"></i></a></span>{% endif %}
												{% if settings.show_article_sharing_email %}<span class="sharing-icon mail tip-t-fade" data-tooltip="Email this to a friend"><a href="mailto:?subject={{ article.title }}&amp;body=Hey,%20while%20browsing%20{{ shop.name }}%20I%20found%20a%20great%20article%20that%20I%20thought%20you%20might%20like%20to%20read.%0D%0A%0D%0A{{ article.title }}%0D%0A{{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-envelope"></i></a></span>{% endif %}
											</div>
										{% endif %}

								</div>
							</div>
						</div>
					</article>


				{% comment %} Navigation {% endcomment %}

					{% if settings.show_article_pagination %}
						{% if blog.previous_article or blog.next_article %}
							<div class="container">
								<div id="article-navigation" class="one-whole {{ extras_animate }} clearfix" data-anim-type="{{ extras_animation_type }}" data-anim-delay="{{ extras_animation_delay }}">
									{% if blog.previous_article %}
										<a href="{{ blog.previous_article }}" target="_self" id="article-prev" class="button float-left">Previous</a>
									{% endif %}

									{% if blog.next_article %}
										<a href="{{ blog.next_article }}" target="_self" id="article-next" class="button float-right">Next</a>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endif %}


				{% comment %} Comments {% endcomment %}

					{% if blog.comments_enabled? %}

						{% comment %} Top Pagination {% endcomment %}

							{% if top_pagination and paginate.pages > 1 %}
								<nav>
									<div class="container">
										<div class="one-whole bm-remove">
											{% include 'pagination' %}
										</div>
									</div>
								</nav>
							{% endif %}


						{% comment %} Comments {% endcomment %}

							<div class="clearfix">
								<div class="container{% unless pagination and bottom_pagination %} bm-medium{% endunless %}">
									<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
										{% if number_of_comments > 0 %}
											<div id="article-comments">
													<h1 id="article-comments-title">{{ number_of_comments }} {{ number_of_comments | pluralize: 'Comment', 'Comments' }}</h1>

													<hr />
													
													{% if comment and comment.created_at %}
														{% include 'comment' %}
													{% endif %}

													{% for comment in article.comments %}
														{% include 'comment' %}
													{% endfor %}
											</div>
										{% endif %}

										<div id="article-post-comment">
											<h1 id="article-post-comment-title">Leave a Comment</h1>

											{% form article %}
												<script>
													$(document).ready(function() {
														$('.comment-form').attr('novalidate', '');
													});
												</script>

												<div class="one-half-percent bm-remove omega">
													<input type="text" name="comment[author]" id="article-comment-author" class="w-full" placeholder="Name" value="{% if form.author %}{{ form.author }}{% elsif customer.name %}{{ customer.name }}{% endif %}" />
												</div>

												<div class="one-half-percent bm-remove alpha last">
													<input type="email" name="comment[email]" id="article-comment-email" class="w-full" placeholder="Email Address" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}" />
												</div>

												<textarea name="comment[body]" id="article-comment-body" class="w-full" placeholder="Your Comment...">{{ form.body }}</textarea>

												<div class="clearfix">
													<button type="submit" id="article-comment-submit" class="bm-remove float-right">Post</button>
												</div>

												{% if form.errors %}
													<div id="form-error" class="no-display">
														{{ form.errors | default_errors | replace: 'Author can&#39;t be blank.', 'You forgot to tell us your name.' | replace: 'Email is invalid.', 'That does&#39;t seem like a valid email address.' | replace: 'Body can&#39;t be blank.', 'You forgot to write anything in your comment.' }}
													</div>

													<script>
														window.location.hash = '#post-comment';

														var error_message = $('#form-error li:first').html();

														$('body').edgeAlerts({
															title: 'Form Error',
															message: error_message
														});
													</script>
												{% endif %}
												
												{% if form.posted_successfully? %}
													<script>
														window.location.hash = '#article-comments';
													</script>

													{% if comment and comment.created_at %}
														{% if blog.moderated? %}
															<script>
																$('body').edgeAlerts({
																	title: 'Post Successful',
																	message: 'Your comment is awaiting approval.'
																});
															</script>
														{% else %}
															<script>
																$('body').edgeAlerts({
																	title: 'Post Successful',
																	message: 'Your comment has been added to this article.'
																});
															</script>
														{% endif %}
													{% endif %}
												{% endif %}
											{% endform %}
										</div>
									</div>
								</div>
							</div>


						{% comment %} Bottom Pagination {% endcomment %}

							{% if bottom_pagination and paginate.pages > 1 %}
								<nav>
									<div class="container bm-medium">
										<div class="one-whole">
											{% if settings.show_pagination_details %}
												{% include 'pagination' with 'details' %}
											{% else %}
												{% include 'pagination' %}
											{% endif %}
										</div>
									</div>
								</nav>
							{% endif %}

					{% endif %}

			</main>

		{% endpaginate %}