{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}
					
			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


	{% comment %} Wishlist {% endcomment %}

		<main id="template-page-wishlist-liquid" class="clearfix" role="main">

			{% comment %} Breadcrumb {% endcomment %}

				<nav>
					<div class="container bm-medium">
						<div class="one-whole">
							{% include 'breadcrumb' %}
						</div>
					</div>
				</nav>


			{% comment %} Products {% endcomment %}

				{% if shop.customer_accounts_enabled and settings.use_wishlist %}

					{% if customer %}

						<div class="clearfix">
							<div class="container">
								<div id="page-wishlist" class="one-whole">
									{% comment %}
										This is still experimental and will be available once tested more thoroughly.
										For now we will use JavaScript (further below) to show/hide the correct display.

										{% include 'wishlist-item-count' %}

										{% if wishlist_item_count > 0 %}
											{% capture subject %}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{% endcapture %}
											{% capture body %}I've%20added%20the%20following%20items%20to%20my%20wishlist%20at%20{{ shop.name | replace: ' ','%20' }}{% endcapture %}
											{% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = false %}{% capture tag_id %}{{ tag }}{% endcapture %}{% assign tag_count = 0 %}{% assign tag_size = tag_id | size %}{% for tag in customer.tags %}{% capture cur_tag %}{{ tag }}{% endcapture %}{% if cur_tag contains tag_id %}{% assign cur_tag_size = cur_tag | size %}{% assign difference = tag_size | minus: cur_tag_size %}{% if difference == 0 %}{% assign the_test = tag_id %}{% else %}{% assign the_test = false %}{% endif %}{% endif %}{% endfor %}{% for p in collections.all.products %}{% capture pID %}{{ p.id }}{% endcapture %}{% capture difference %}{{ tag_size | minus:pID.size | money_without_currency | times:100 | divided_by: 2 }}{% endcapture %}{% assign check = difference | split:'.' %}{% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}{% if display and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%0A{{ shop.url }}{{ p.url }}{% endif %}{% endfor %}{% endfor %}{% endcapture %}

											<div id="email-wishlist" class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
												<h3 class="bm-remove text-center"><a href="mailto:?subject={{ subject }}&amp;body={{ body }}" target="_self" class="block">Share Your Wishlist With A Friend</a></h3>
											</div>
										{% else %}
											<div id="wishlist-empty" class="one-whole boxed {{ settings.grid_boxed_padding }}r {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
												<p class="bm-larger tm-larger text-cente">
													There Are No Items In Your Wishlist<br />
													<a href="/collections" target="_self">Click Here To Continue Browsing</a>
												</p>
											</div>
										{% endif %}
									{% endcomment %}

									{% capture subject %}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{% endcapture %}
									{% capture body %}Checkout%20what%20I've%20got%20in%20my%20wishlist%20on%20{{ shop.name | replace: ' ','%20' }}.{% endcapture %}
									{% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = false %}{% capture tag_id %}{{ tag }}{% endcapture %}{% assign tag_count = 0 %}{% assign tag_size = tag_id | size %}{% for tag in customer.tags %}{% capture cur_tag %}{{ tag }}{% endcapture %}{% if cur_tag contains tag_id %}{% assign cur_tag_size = cur_tag | size %}{% assign difference = tag_size | minus: cur_tag_size %}{% if difference == 0 %}{% assign the_test = tag_id %}{% else %}{% assign the_test = false %}{% endif %}{% endif %}{% endfor %}{% for p in collections.all.products %}{% capture pID %}{{ p.id }}{% endcapture %}{% capture difference %}{{ tag_size | minus:pID.size | money_without_currency | times:100 | divided_by: 2 }}{% endcapture %}{% assign check = difference | split:'.' %}{% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}{% if display and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%0A{{ shop.url }}{{ p.url }}{% endif %}{% endfor %}{% endfor %}{% endcapture %}

									<div id="email-wishlist" class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix no-display" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
										<h3 class="bm-remove text-center"><a href="mailto:?subject={{ subject }}&amp;body={{ body }}" target="_self" class="block">Share Your Wishlist With A Friend</a></h3>
									</div>

									<div id="wishlist-empty" class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix no-display" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
										<p class="bm-larger tm-larger text-center">
											There Are No Items In Your Wishlist<br />
											<a href="/collections" target="_self">Click Here To Continue Browsing</a>
										</p>
									</div>

									{% for tag in customer.tags %}
										{% assign the_test = false %}

										{% capture tag_id %}{{ tag }}{% endcapture %}

										{% assign tag_size = tag_id.size %}

										{% for tag in customer.tags %}
											{% capture cur_tag %}{{ tag }}{% endcapture %}

											{% if cur_tag contains tag_id %}
												{% assign difference = tag_size | minus:cur_tag.size %}

												{% if difference == 0 %}
													{% assign the_test = tag_id %}
												{% else %}
													{% assign the_test = false %}
												{% endif %}
											{% endif %}
										{% endfor %}

										{% for collection in collections %}
											{% paginate collection.products by collection.all_products_count %}
												{% for product in collection.products %}
													{% capture product_id %}{{ product.id }}{% endcapture %}

													{% unless used contains product_id %}

														{% capture diff %}{{ tag_size | minus:product_id.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}

														{% assign check = diff | split:'.' %}

														{% if check[1] contains '5' %}
															{% assign display = false %}
														{% else %}
															{% assign display = true %}
														{% endif %}

														{% if display and the_test contains product_id %}

															{% comment %} Animation {% endcomment %}

																{% include 'animations' with 'wishlist-product-loop' %}


															{% comment %} Odd/Even {% endcomment %}

																{% capture wishlist_product_loop_odd_even %}{% cycle 'odd', 'even' %}{% endcapture %}


															{% comment %} First/Last Loop {% endcomment %}

																{% capture wishlist_product_loop_first_last %}{% if forloop.first %}loop-first{% endif %}{% if forloop.last %}loop-last{% endif %}{% endcapture %}


															{% comment %} Item On Sale {% endcomment %}

																{% assign on_sale = false %}

																{% if product.compare_at_price > product.price %}
																	{% assign on_sale = true %}
																{% endif %}


															{% comment %} Item Sold Out {% endcomment %}

																{% assign sold_out = false %}

																{% if product.available == false %}
																	{% assign sold_out = true %}
																{% endif %}


															{% comment %} Loop {% endcomment %}

																<div class="{{ wishlist_product_loop_grid_span }} product-item boxed p-ten text-center {{ wishlist_product_loop_odd_even }} {{ wishlist_product_loop_first_last }} {% if on_sale %}on-sale{% endif %} {% if sold_out %}sold-out{% endif %} {{ wishlist_product_loop_grid_span_last }} {{ wishlist_product_loop_animate }} clearfix" data-anim-type="{{ wishlist_product_loop_animation_type }}" data-anim-delay="{{ wishlist_product_loop_animation_delay }}">
																	<div class="image-and-overlay-container bm-small">
																		<div class="image">
																			<a href="{{ product.url | within: collection }}" target="_self">
																				{% if product.featured_image %}
																					<img src="{{ product.featured_image.src | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" class="block" />
																				{% else %}
																					<img src="{{ 'no-image.png' | asset_url }}" alt="{{ product.title | escape }}" class="block no-image" />
																				{% endif %}
																			</a>
																		</div>

																		<a href="{{ product.url | within: collection }}" target="_self" class="overlay"></a>

																		{% if settings.use_quick_look %}
																			<span class="quick-look-icon cursor-pointer tip-t-fade" data-tooltip="Quick Look"><a href="#" target="_self" class="quick-look" data-quick-look-handle="{{ product.handle }}"><i class="fa fa-search fa-fw"></i></a></span>
																		{% endif %}
																	</div>

																	<p class="bm-remove no-text-overflow">
																		<a href="{{ product.url | within: collection }}" target="_self"><strong>{{ product.title }}</strong></a>
																	</p>

																	<p class="bm-small no-text-overflow">{% if product.price_varies %}From {% endif %}{{ product.price | money }}{% if on_sale %} <small><s>{{ product.compare_at_price | money }}</s></small>{% endif %}</p>

																	<a href="#remove-from-wishlist" target="_self" class="button bm-remove w-full" onclick="removeTag('x{{ tag_id }}', '{{ product.title }}', '{{ product.id }}')">Remove</a>

																	{% if on_sale %}
																		<span class="on-sale">On<br />Sale</span>
																	{% endif %}

																	{% if sold_out %}
																		<span class="sold-out{% if on_sale %} with-on-sale{% endif %}">Sold<br />Out</span>
																	{% endif %}
																							
																	<form method="post" action="/contact" id="remove-from-wishlist-{{ product.id }}" accept-charset="UTF-8">
																		<input name="form_type" type="hidden" value="customer" />
																		<input name="utf8" type="hidden" value="✓"> 
																		<input type="hidden" name="contact[email]" value="{{ customer.email }}" />
																		<input type="hidden" name="contact[tags]" id="remove-value-{{ product.id }}" value="" />
																	</form>
																</div>

																{% capture used %}{{ product_id }} {{ used }}{% endcapture %}


															{% comment %} Clearing {% endcomment %}

																{{ wishlist_product_loop_clear_div }}

														{% endif %}

													{% endunless %}

												{% endfor %}
											{% endpaginate %}
										{% endfor %}
									{% endfor %}
								</div>
							</div>
						</div>
									
						<script type="text/javascript">
							$(document).ready(function() {
								var wishlist_item_count = $('.product-item').size();

								if (wishlist_item_count > 0) {
									$('#email-wishlist').removeClass('no-display');
								} else {
									$('#wishlist-empty').removeClass('no-display');
								}
							});
						</script>

					{% else %}

						<div class="clearfix">
							<div class="container">
								<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
									<p class="bm-larger tm-larger text-center">To create a wish list you must <a href="/account/login" target="_self">Log In</a> or <a href="/account/register" target="_self">Register</a></p>
								</div>
							</div>
						</div>

					{% endif %}

				{% else %}

					<div class="clearfix">
						<div class="container">
							<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
								<p class="bm-larger tm-larger text-center">Wishlists Are Currently Not Available</p>
							</div>
						</div>
					</div>

				{% endif %}

		</main>
