{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}

			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


		{% comment %} Pagination {% endcomment %}

			{% comment %} General {% endcomment %}

				{% assign pagination = false %}

				{% paginate search.results by settings.search_results_per_page %}
					{% if paginate.pages > 1 %}
						{% assign pagination = true %}
					{% endif %}
				{% endpaginate %}


			{% comment %} Top {% endcomment %}

				{% assign top_pagination = false %}

				{% if settings.pagination_display == 'top' or settings.pagination_display == 'top-bottom' %}
					{% assign top_pagination = true %}
				{% endif %}


			{% comment %} Bottom {% endcomment %}

				{% assign bottom_pagination = false %}

				{% if settings.pagination_display == 'bottom' or settings.pagination_display == 'top-bottom' %}
					{% assign bottom_pagination = true %}
				{% endif %}


	{% comment %} Search Results {% endcomment %}

		{% paginate search.results by settings.search_results_per_page %}

			<main id="template-search-liquid" class="clearfix" role="main">

				{% comment %} Breadcrumb {% endcomment %}

					<nav>
						<div class="container bm-medium">
							<div class="one-whole">
								{% include 'breadcrumb' %}
							</div>
						</div>
					</nav>


				{% comment %} Top Pagination {% endcomment %}

					{% if pagination and top_pagination %}
						<nav>
							<div class="container">
								<div class="one-whole">
									{% include 'pagination' %}
								</div>
							</div>
						</nav>
					{% endif %}


				{% comment %} Results {% endcomment %}

					{% if search.performed %}

						{% if search.results_count > 0 %}

							<div class="clearfix">
								<div class="container{% unless pagination and bottom_pagination %} bm-medium{% endunless %}">

									{% for item in search.results %}

										{% comment %} Animation {% endcomment %}

											{% include 'animations' with 'search-result-product-loop' %}


										{% comment %} Odd/Even {% endcomment %}

											{% capture search_result_loop_odd_even %}{% cycle 'odd', 'even' %}{% endcapture %}


										{% comment %} First/Last Loop {% endcomment %}

											{% capture search_result_loop_first_last %}{% if forloop.first %}loop-first{% endif %}{% if forloop.last %}loop-last{% endif %}{% endcapture %}


										{% comment %} Item On Sale {% endcomment %}

											{% assign on_sale = false %}

											{% if product.compare_at_price > product.price %}
												{% assign on_sale = true %}
											{% endif %}


										{% comment %} Item Sold Out {% endcomment %}

											{% assign sold_out = false %}

											{% if product.available == false %}
												{% assign sold_out = true %}
											{% endif %}


										{% comment %} Loop {% endcomment %}

											<div class="{{ search_result_loop_grid_span }} product-item boxed p-ten text-center {{ search_result_loop_odd_even }} {{ search_result_loop_first_last }} {% if on_sale %}on-sale{% endif %} {% if sold_out %}sold-out{% endif %} {{ search_result_loop_grid_span_last }} {{ search_result_loop_animate }} clearfix" data-anim-type="{{ search_result_loop_animation_type }}" data-anim-delay="{{ search_result_loop_animation_delay }}">
												<div class="image-and-overlay-container bm-small">
													<div class="image">
														<a href="{{ item.url | within: collection }}" target="_self">
															<img src="{{ item.featured_image.src | product_img_url: 'master' }}" alt="{{ item.featured_image.alt | escape }}" class="block" />
														</a>
													</div>

													<a href="{{ item.url | within: collection }}" target="_self" class="overlay"></a>

													{% if settings.use_quick_look %}
														<span class="quick-look-icon cursor-pointer tip-t-fade" data-tooltip="Quick Look"><a href="#" target="_self" class="quick-look" data-quick-look-handle="{{ item.handle }}"><i class="fa fa-search fa-fw"></i></a></span>
													{% endif %}
												</div>

												<p class="bm-remove no-text-overflow">
													<a href="{{ item.url | within: collection }}" target="_self"><strong>{{ item.title }}</strong></a>
												</p>

												<p class="bm-remove no-text-overflow">{% if item.price_varies %}From {% endif %}{{ item.price | money }}{% if on_sale %} <small><s>{{ item.compare_at_price | money }}</s></small>{% endif %}</p>

												{% if on_sale %}
													<span class="on-sale">On<br />Sale</span>
												{% endif %}

												{% if sold_out %}
													<span class="sold-out{% if on_sale %} with-on-sale{% endif %}">Sold<br />Out</span>
												{% endif %}
											</div>


										{% comment %} Clearing {% endcomment %}

											{{ search_result_loop_clear_div }}

									{% endfor %}

								</div>
							</div>

						{% else %}

							<div class="clearfix">
								<div class="container">
									<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
										<p class="bm-larger tm-larger text-center">No Search Results</p>
									</div>
								</div>
							</div>

						{% endif %}

					{% else %}

						<div class="clearfix">
							<div class="container">
								<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
									<p class="bm-larger tm-larger text-center">No Search Results</p>
								</div>
							</div>
						</div>

					{% endif %}


				{% comment %} Bottom Pagination {% endcomment %}

					{% if pagination and bottom_pagination %}
						<nav>
							<div class="container">
								<div class="one-whole">
									{% include 'pagination' with 'details' %}
								</div>
							</div>
						</nav>
					{% endif %}

			</main>

		{% endpaginate %}