{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}

			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


		{% comment %} Description {% endcomment %}

			{% assign collection_description = false %}

			{% if collection.description.size > 0 %}
				{% assign collection_description = true %}
			{% endif %}


		{% comment %} Pagination {% endcomment %}

			{% comment %} General {% endcomment %}

				{% assign pagination = false %}

				{% paginate collection.products by settings.products_per_page %}
					{% if paginate.pages > 1 %}
						{% assign pagination = true %}
					{% endif %}
				{% endpaginate %}


			{% comment %} Top {% endcomment %}

				{% assign top_pagination = false %}

				{% if settings.pagination_display == 'top' or settings.pagination_display == 'top-bottom' %}
					{% assign top_pagination = true %}
				{% endif %}


			{% comment %} Bottom {% endcomment %}

				{% assign bottom_pagination = false %}

				{% if settings.pagination_display == 'bottom' or settings.pagination_display == 'top-bottom' %}
					{% assign bottom_pagination = true %}
				{% endif %}


	{% comment %} Collection {% endcomment %}
		
		{% paginate collection.products by settings.products_per_page %}

			<main id="template-collection-liquid" class="clearfix" role="main">

				{% comment %} Breadcrumb {% endcomment %}

					<nav>
						<div class="container bm-medium">
							<div class="one-whole">
								{% include 'breadcrumb' %}
							</div>
						</div>
					</nav>


				{% comment %} Description {% endcomment %}

					{% if collection_description %}
						<div class="clearfix">
							<div class="container">
								<div id="collection-description" class="one-whole boxed {{ settings.grid_boxed_padding }} rte {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_type }}">
									{{ collection.description }}
								</div>
							</div>
						</div>
					{% endif %}


				{% comment %} Top Pagination {% endcomment %}

					<nav>
						<div class="container">
							<div class="one-third">
								<div class="clearfix">
									<select id="sort-by" class="inline-block bm-remove w-small tip-r-fade {{ extras_animate }} clearfix" data-tooltip="Sort By" data-anim-type="{{ extras_animation_type }}" data-anim-delay="{{ extras_animation_delay }}">
										<option value="manual">Default</option>
										<option value="best-selling">Best Selling</option>
										<option value="price-ascending">Price: Low to High</option>
										<option value="price-descending">Price: High to Low</option>
										<option value="title-ascending">A-Z</option>
										<option value="title-descending">Z-A</option>
										<option value="created-ascending">Oldest to Newest</option>
										<option value="created-descending">Newest to Oldest</option>
									</select>
								</div>
							</div>
							<div class="two-third last">
								{% if pagination and top_pagination %}
									{% include 'pagination' %}
								{% endif %}
							</div>
						</div>
					</nav>


				{% comment %} Loop {% endcomment %}

					<div class="clearfix">
						<div id="collection-product-loop" class="container{% unless pagination and bottom_pagination %} bm-medium{% endunless %}">
							{% for product in collection.products %}

								{% include 'product-loop' with settings.products_x_per_row %}

							{% else %}

								<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
									<p class="bm-larger tm-larger text-center">No Products Found</p>
								</div>

							{% endfor %}
						</div>
					</div>


				{% comment %} Bottom Pagination {% endcomment %}

					{% if pagination and bottom_pagination %}
						<nav>
							<div class="container bm-medium">
								<div class="one-whole">
									{% include 'pagination' with 'details' %}
								</div>
							</div>
						</nav>
					{% endif %}

			</main>
			
		{% endpaginate %}


	{% comment %} Scripts {% endcomment %}

		<script>
			Shopify.queryParams = {};

			if (location.search.length) {
				for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
					aKeyValue = aCouples[i].split('=');

					if (aKeyValue.length > 1)
						Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
				}
			}

			jQuery('#sort-by')
				.val('{{ collection.sort_by | default: collection.default_sort_by  }}')
				.bind('change', function() {
					Shopify.queryParams.sort_by = jQuery(this).val();
					location.search = jQuery.param(Shopify.queryParams);
				});
		</script>