{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Frontpage Collection Loop {% endcomment %}

		{% if animations == 'frontpage-collection-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign collection_loop_animate = '' %}

				{% if settings.use_frontpage_collections_animations %}
					{% assign collection_loop_animate = 'animate-in' %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if settings.frontpage_collections_x_per_row == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-quarter' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.frontpage_collections_animation_type_1, settings.frontpage_collections_animation_type_2, settings.frontpage_collections_animation_type_3, settings.frontpage_collections_animation_type_4 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.frontpage_collections_animation_delay_1, settings.frontpage_collections_animation_delay_2, settings.frontpage_collections_animation_delay_3, settings.frontpage_collections_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.frontpage_collections_x_per_row == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-third' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.frontpage_collections_animation_type_1, settings.frontpage_collections_animation_type_2, settings.frontpage_collections_animation_type_3 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.frontpage_collections_animation_delay_1, settings.frontpage_collections_animation_delay_2, settings.frontpage_collections_animation_delay_3 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.frontpage_collections_x_per_row == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-half' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.frontpage_collections_animation_type_1, settings.frontpage_collections_animation_type_2 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.frontpage_collections_animation_delay_1, settings.frontpage_collections_animation_delay_2 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.frontpage_collections_x_per_row == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-whole-percent' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.frontpage_collections_animation_type_1, settings.frontpage_collections_animation_type_2, settings.frontpage_collections_animation_type_3, settings.frontpage_collections_animation_type_4 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.frontpage_collections_animation_delay_1, settings.frontpage_collections_animation_delay_2, settings.frontpage_collections_animation_delay_3, settings.frontpage_collections_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Collection Loop {% endcomment %}

		{% if animations == 'collection-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign collection_loop_animate = '' %}

				{% if settings.use_collections_animations %}
					{% assign collection_loop_animate = 'animate-in' %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if collection-loop == blank or collection-loop == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-quarter' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.collections_animation_type_1, settings.collections_animation_type_2, settings.collections_animation_type_3, settings.collections_animation_type_4 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.collections_animation_delay_1, settings.collections_animation_delay_2, settings.collections_animation_delay_3, settings.collections_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif collection-loop == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-third' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.collections_animation_type_1, settings.collections_animation_type_2, settings.collections_animation_type_3 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.collections_animation_delay_1, settings.collections_animation_delay_2, settings.collections_animation_delay_3 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif collection-loop == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-half' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.collections_animation_type_1, settings.collections_animation_type_2 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.collections_animation_delay_1, settings.collections_animation_delay_2 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif collection-loop == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign collection_loop_grid_span = 'one-whole-percent' %}
						{% capture collection_loop_grid_span_last %}{% cycle 'collection_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture collection_loop_animation_type %}{% cycle 'collection_loop_anim_type': settings.collections_animation_type_1, settings.collections_animation_type_2, settings.collections_animation_type_3, settings.collections_animation_type_4 %}{% endcapture %}
						{% capture collection_loop_animation_delay %}{% cycle 'collection_loop_anim_delay': settings.collections_animation_delay_1, settings.collections_animation_delay_2, settings.collections_animation_delay_3, settings.collections_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture collection_loop_clear_div %}{% cycle 'collection_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Product Loop {% endcomment %}

		{% if animations == 'product-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign product_loop_animate = '' %}

				{% if template contains 'index' %}
					{% if settings.use_frontpage_products_animations %}
						{% assign product_loop_animate = 'animate-in' %}
					{% endif %}
				{% else %}
					{% if settings.use_products_animations %}
						{% assign product_loop_animate = 'animate-in' %}
					{% endif %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if product-loop == blank or product-loop == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign product_loop_grid_span = 'one-quarter' %}
						{% capture product_loop_grid_span_last %}{% cycle 'product_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.frontpage_products_animation_type_1, settings.frontpage_products_animation_type_2, settings.frontpage_products_animation_type_3, settings.frontpage_products_animation_type_4 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.frontpage_products_animation_delay_1, settings.frontpage_products_animation_delay_2, settings.frontpage_products_animation_delay_3, settings.frontpage_products_animation_delay_4 %}{% endcapture %}
						{% else %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3, settings.products_animation_type_4 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3, settings.products_animation_delay_4 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture product_loop_clear_div %}{% cycle 'product_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif product-loop == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign product_loop_grid_span = 'one-third' %}
						{% capture product_loop_grid_span_last %}{% cycle 'product_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.frontpage_products_animation_type_1, settings.frontpage_products_animation_type_2, settings.frontpage_products_animation_type_3 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.frontpage_products_animation_delay_1, settings.frontpage_products_animation_delay_2, settings.frontpage_products_animation_delay_3 %}{% endcapture %}
						{% else %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture product_loop_clear_div %}{% cycle 'product_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif product-loop == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign product_loop_grid_span = 'one-half' %}
						{% capture product_loop_grid_span_last %}{% cycle 'product_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.frontpage_products_animation_type_1, settings.frontpage_products_animation_type_2 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.frontpage_products_animation_delay_1, settings.frontpage_products_animation_delay_2 %}{% endcapture %}
						{% else %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture product_loop_clear_div %}{% cycle 'product_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif product-loop == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign product_loop_grid_span = 'one-whole-percent' %}
						{% capture product_loop_grid_span_last %}{% cycle 'product_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.frontpage_products_animation_type_1, settings.frontpage_products_animation_type_2, settings.frontpage_products_animation_type_3, settings.frontpage_products_animation_type_4 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.frontpage_products_animation_delay_1, settings.frontpage_products_animation_delay_2, settings.frontpage_products_animation_delay_3, settings.frontpage_products_animation_delay_4 %}{% endcapture %}
						{% else %}
							{% capture product_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3, settings.products_animation_type_4 %}{% endcapture %}
							{% capture product_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3, settings.products_animation_delay_4 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture product_loop_clear_div %}{% cycle 'product_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Search Result Loop {% endcomment %}

		{% if animations == 'search-result-product-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign search_result_loop_animate = '' %}

				{% if settings.use_search_results_animations %}
					{% assign search_result_loop_animate = 'animate-in' %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if settings.search_results_x_per_row == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign search_result_loop_grid_span = 'one-quarter' %}
						{% capture search_result_loop_grid_span_last %}{% cycle 'search_result_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture search_result_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.search_results_animation_type_1, settings.search_results_animation_type_2, settings.search_results_animation_type_3, settings.search_results_animation_type_4 %}{% endcapture %}
						{% capture search_result_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.search_results_animation_delay_1, settings.search_results_animation_delay_2, settings.search_results_animation_delay_3, settings.search_results_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture search_result_loop_clear_div %}{% cycle 'search_result_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.search_results_x_per_row == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign search_result_loop_grid_span = 'one-third' %}
						{% capture search_result_loop_grid_span_last %}{% cycle 'search_result_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture search_result_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.search_results_animation_type_1, settings.search_results_animation_type_2, settings.search_results_animation_type_3 %}{% endcapture %}
						{% capture search_result_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.search_results_animation_delay_1, settings.search_results_animation_delay_2, settings.search_results_animation_delay_3 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture search_result_loop_clear_div %}{% cycle 'search_result_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.search_results_x_per_row == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign search_result_loop_grid_span = 'one-half' %}
						{% capture search_result_loop_grid_span_last %}{% cycle 'search_result_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture search_result_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.search_results_animation_type_1, settings.search_results_animation_type_2 %}{% endcapture %}
						{% capture search_result_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.search_results_animation_delay_1, settings.search_results_animation_delay_2 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture search_result_loop_clear_div %}{% cycle 'search_result_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.search_results_x_per_row == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign search_result_loop_grid_span = 'one-whole-percent' %}
						{% capture search_result_loop_grid_span_last %}{% cycle 'search_result_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture search_result_loop_animation_type %}{% cycle 'product_loop_anim_type': settings.search_results_animation_type_1, settings.search_results_animation_type_2, settings.search_results_animation_type_3, settings.search_results_animation_type_4 %}{% endcapture %}
						{% capture search_result_loop_animation_delay %}{% cycle 'product_loop_anim_delay': settings.search_results_animation_delay_1, settings.search_results_animation_delay_2, settings.search_results_animation_delay_3, settings.search_results_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture search_result_loop_clear_div %}{% cycle 'search_result_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Wishlist Product Loop {% endcomment %}

		{% if animations == 'wishlist-product-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign wishlist_product_loop_animate = '' %}

				{% if settings.use_products_animations %}
					{% assign wishlist_product_loop_animate = 'animate-in' %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if settings.products_x_per_row == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign wishlist_product_loop_grid_span = 'one-quarter' %}
						{% capture wishlist_product_loop_grid_span_last %}{% cycle 'wishlist_product_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture wishlist_product_loop_animation_type %}{% cycle 'wishlist_product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3, settings.products_animation_type_4 %}{% endcapture %}
						{% capture wishlist_product_loop_animation_delay %}{% cycle 'wishlist_product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3, settings.products_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture wishlist_product_loop_clear_div %}{% cycle 'wishlist_product_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.products_x_per_row == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign wishlist_product_loop_grid_span = 'one-third' %}
						{% capture wishlist_product_loop_grid_span_last %}{% cycle 'wishlist_product_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture wishlist_product_loop_animation_type %}{% cycle 'wishlist_product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3 %}{% endcapture %}
						{% capture wishlist_product_loop_animation_delay %}{% cycle 'wishlist_product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture wishlist_product_loop_clear_div %}{% cycle 'wishlist_product_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.products_x_per_row == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign wishlist_product_loop_grid_span = 'one-half' %}
						{% capture wishlist_product_loop_grid_span_last %}{% cycle 'wishlist_product_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture wishlist_product_loop_animation_type %}{% cycle 'wishlist_product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2 %}{% endcapture %}
						{% capture wishlist_product_loop_animation_delay %}{% cycle 'wishlist_product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture wishlist_product_loop_clear_div %}{% cycle 'wishlist_product_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif settings.products_x_per_row == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign wishlist_product_loop_grid_span = 'one-whole-percent' %}
						{% capture wishlist_product_loop_grid_span_last %}{% cycle 'wishlist_product_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% capture wishlist_product_loop_animation_type %}{% cycle 'wishlist_product_loop_anim_type': settings.products_animation_type_1, settings.products_animation_type_2, settings.products_animation_type_3, settings.products_animation_type_4 %}{% endcapture %}
						{% capture wishlist_product_loop_animation_delay %}{% cycle 'wishlist_product_loop_anim_delay': settings.products_animation_delay_1, settings.products_animation_delay_2, settings.products_animation_delay_3, settings.products_animation_delay_4 %}{% endcapture %}


					{% comment %} Clearing {% endcomment %}

						{% capture wishlist_product_loop_clear_div %}{% cycle 'wishlist_product_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Article Loop {% endcomment %}

		{% if animations == 'article-loop' %}

			{% comment %} Animate {% endcomment %}
						
				{% assign article_loop_animate = '' %}

				{% if template contains 'index' %}
					{% if settings.use_frontpage_articles_animations %}
						{% assign article_loop_animate = 'animate-in' %}
					{% endif %}
				{% else %}
					{% if settings.use_articles_animations %}
						{% assign article_loop_animate = 'animate-in' %}
					{% endif %}
				{% endif %}


			{% comment %} Grid Span {% endcomment %}

				{% if article-loop == blank or article-loop == 'four-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign article_loop_grid_span = 'one-quarter' %}
						{% capture article_loop_grid_span_last %}{% cycle 'article_loop_grid_last': '', '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.frontpage_articles_animation_type_1, settings.frontpage_articles_animation_type_2, settings.frontpage_articles_animation_type_3, settings.frontpage_articles_animation_type_4 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.frontpage_articles_animation_delay_1, settings.frontpage_articles_animation_delay_2, settings.frontpage_articles_animation_delay_3, settings.frontpage_articles_animation_delay_4 %}{% endcapture %}
						{% else %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.articles_animation_type_1, settings.articles_animation_type_2, settings.articles_animation_type_3, settings.articles_animation_type_4 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.articles_animation_delay_1, settings.articles_animation_delay_2, settings.articles_animation_delay_3, settings.articles_animation_delay_4 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture article_loop_clear_div %}{% cycle 'article_loop_clear': '', '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif article-loop == 'three-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign article_loop_grid_span = 'one-third' %}
						{% capture article_loop_grid_span_last %}{% cycle 'article_loop_grid_last': '', '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.frontpage_articles_animation_type_1, settings.frontpage_articles_animation_type_2, settings.frontpage_articles_animation_type_3 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.frontpage_articles_animation_delay_1, settings.frontpage_articles_animation_delay_2, settings.frontpage_articles_animation_delay_3 %}{% endcapture %}
						{% else %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.articles_animation_type_1, settings.articles_animation_type_2, settings.articles_animation_type_3 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.articles_animation_delay_1, settings.articles_animation_delay_2, settings.articles_animation_delay_3 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture article_loop_clear_div %}{% cycle 'article_loop_clear': '', '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif article-loop == 'two-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign article_loop_grid_span = 'one-half' %}
						{% capture article_loop_grid_span_last %}{% cycle 'article_loop_grid_last': '', 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.frontpage_articles_animation_type_1, settings.frontpage_articles_animation_type_2 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.frontpage_articles_animation_delay_1, settings.frontpage_articles_animation_delay_2 %}{% endcapture %}
						{% else %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.articles_animation_type_1, settings.articles_animation_type_2 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.articles_animation_delay_1, settings.articles_animation_delay_2 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture article_loop_clear_div %}{% cycle 'article_loop_clear': '', '<div class="clear"></div>' %}{% endcapture %}

				{% elsif article-loop == 'one-per-row' %}

					{% comment %} Grid {% endcomment %}

						{% assign article_loop_grid_span = 'one-whole-percent' %}
						{% capture article_loop_grid_span_last %}{% cycle 'article_loop_grid_last': 'last' %}{% endcapture %}


					{% comment %} Animation {% endcomment %}

						{% if template contains 'index' %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.frontpage_articles_animation_type_1 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.frontpage_articles_animation_delay_1 %}{% endcapture %}
						{% else %}
							{% capture article_loop_animation_type %}{% cycle 'article_loop_anim_type': settings.articles_animation_type_1 %}{% endcapture %}
							{% capture article_loop_animation_delay %}{% cycle 'article_loop_anim_delay': settings.articles_animation_delay_1 %}{% endcapture %}
						{% endif %}


					{% comment %} Clearing {% endcomment %}

						{% capture article_loop_clear_div %}{% cycle 'article_loop_clear': '<div class="clear"></div>' %}{% endcapture %}

				{% endif %}

		{% endif %}


	{% comment %} Page {% endcomment %}

		{% if animations == 'page' %}
					
			{% assign page_animate = '' %}

			{% if settings.use_page_animations %}
				{% assign page_animate = 'animate-in' %}

				{% capture page_animation_type %}{{ settings.page_animation_type }}{% endcapture %}
				{% capture page_animation_delay %}{{ settings.page_animation_delay }}{% endcapture %}
			{% endif %}

		{% endif %}


	{% comment %} Extras {% endcomment %}

		{% if animations == 'page' %}
	
			{% assign extras_animate = '' %}

			{% if settings.use_extras_animations %}
				{% assign extras_animate = 'animate-in' %}

				{% capture extras_animation_type %}{{ settings.extras_animation_type }}{% endcapture %}
				{% capture extras_animation_delay %}{{ settings.extras_animation_delay }}{% endcapture %}
			{% endif %}

		{% endif %}


	{% comment %} Page {% endcomment %}

		{% if animations == 'footer' %}
			
			{% assign footer_animate = '' %}

			{% if settings.use_footer_animation %}
				{% assign footer_animate = 'animate-in' %}

				{% capture footer_animation_type %}{{ settings.footer_animation_type }}{% endcapture %}
				{% capture footer_animation_delay %}{{ settings.footer_animation_delay }}{% endcapture %}
			{% endif %}

		{% endif %}