{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Content {% endcomment %}

		{% if settings.show_frontpage_content %}

			<div class="container">
				<div class="one-whole {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_type }}">
					<div class="one-whole boxed {{ settings.grid_boxed_padding }}">
						{% if settings.frontpage_content_page != blank %}
							<h1 class="bm-small text-center">{{ pages[settings.frontpage_content_page].title }}</h1>

							<div class="rte">
								{{ pages[settings.frontpage_content_page].content }}
							</div>
						{% else %}
							<p class="bm-larger tm-larger text-center">No Content Page Selected</p>
						{% endif %}
					</div>
				</div>
			</div>

		{% endif %}