{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Shipping Calculator {% endcomment %}

		<div id="shipping-calculator" class="one-whole boxed {{ settings.grid_boxed_padding }}">
			<h3 id="shipping-calculator-title">Estimate Shipping Cost</h3>

			<hr />

			<div class="clearfix">
				<label for="address_country" class="bm-smaller">Country</label>
				<select id="address_country" name="address[country]" class="w-full" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != blank %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>

				<div id="address_province_container" style="display: none;">
					<label for="address_province" id="address_province_label" class="bm-smaller">Province</label>
					<select name="address[province]" id="address_province" class="address_form w-full" class="w-full" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != blank %}{{ customer.default_address.province }}{% endif %}"></select>
				</div>

				<label for="address_zip" class="bm-smaller">Zip / Postal Code</label>
				<input type="text" name="address[zip]" id="address_zip" class="w-full"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
			</div>

			<div class="text-right">
				<button type="button" class="get-rates w-full bm-remove">Calculate</button>
			</div>

			<div id="wrapper-response" class="no-display"></div>
		</div>


	{% comment %} Scripts {% endcomment %}

		<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
			{% raw %}
				<div id="shipping-estimate">
					{{if success}}
						{{if rates.length > 1}}
							<p>There are ${rates.length} shipping rates available for ${address}, starting at {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.</p>
						{{else}}
							{{if rates.length == 1}}
								<p>There is one shipping rate available for ${address}.</p>
							{{else}}
								We do not ship to this destination.
							{{/if}}
						{{/if}}

						<ul id="shipping-rates" class="unstyled bm-remove">
							{{each(index, rate) rates}}
								<li>&nbsp;<small>&bull;</small>&nbsp;&nbsp;${rate.name} at {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
							{{/each}}
						</ul>
					{{else}}
						${errorFeedback}
					{{/if}}
				</div>
			{% endraw %}
		</script>

		{{ "//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
		{{ "/services/javascripts/countries.js" | script_tag }}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }} 
		{{ "shipping-calculator.min.js" | asset_url | script_tag }} 

		<script>
			Shopify.Cart.ShippingCalculator.show({
				submitButton: "Calculate", 
				submitButtonDisabled: "Calculating...",
				customerIsLoggedIn: false,
				moneyFormat: {{ shop.money_with_currency_format | json }}
			});

			$('.get-rates').on('click', function() {
				timer = setInterval(function () {
					if ($('#shipping-estimate').length) {
						var	response = $('#wrapper-response').html();

						$('body').edgeAlerts({
							title: 'Shipping Estimate',
							message: response,
							callbackInit: function() { clearInterval(timer); }
						});
					}
				}, 100);
			});
		</script>